*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.header {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 189, 120);
  gap: 40px;
}

.header input,button{
  padding: 15px;
  border: none;
  border-radius: 10px;
 
}


.header input{
  width: 60vw;
  font-size: 18px;
}


/* listTask */

.listTask{
  width: 80vw;
  margin-inline: auto;
  margin-top: 20px;
  
}

.task{
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  margin-bottom: 20px;
}

.task button{
  min-width: 35px;
  padding: 7px;
  height: 35px;
  margin: 0 10px;
  background-color: lightgreen;
}
.task #close{
  background-color: red;
} 

.task .confirm{
  width: 50vw;
  font-size: 18px;
}

.done {
  background-color: rgb(41, 157, 192);
}

.notdone {
  background-color: gray;
}